page-normal-user {
    #map {
        width: 100%;
        height: 70%;
    }

    .scroll-area{
        height: 256px;
    }
    
}

.search-no-result{
    background: #FFCCCC;
}

.search-has-result{
    background: aliceblue;
}