page-business-user {

}

.event-date{
    font-size: small;
    font-style: italic;
    color: grey;
}

.event-soon{
    color:#EBEB00
}

.event-opening{
    color:green;
}

.event-closed{
    color:red;
}